.rights__checkbox {
  display: flex;
  align-items: center;
  gap: 7px;

  .checkbox__content {
    font-weight: 400;
    font-size: 11px;
    line-height: 1.3;
    color: #7e868e;

    a {
      text-decoration: underline;
      color: inherit;
      text-decoration-skip-ink: none;
    }
  }
}
