@use "../mixins" as *;

.clouds {
  position: relative;

  &--upper {
    &::before {
      content: "";
      position: absolute;
      right: 0;
      top: -1px;
      z-index: 100;
      margin: 0 auto;
      width: 100vw;
      height: 330px;
      background-image: url('../../img/cloud-upper.png');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      @include tablet {
        height: 150px;
      }
    }
  }

  &--lower {
    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: -1px;
      z-index: 100;
      width: 100vw;
      height: 330px;
      background-image: url('../../img/cloud-lower.png');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      @include tablet {
        height: 150px;
      }
    }
  }
}
