@use "../mixins" as *;

.swiper {
  position: relative;
  overflow: visible;
  max-width: clamp(550px, 61.45vw, 1180px);

  @include mobile {
    max-width: 410px;
  }

  @include small-mobile {
    max-width: 340px;
  }

  &__wrapper {
    align-items: stretch;
  }

  &-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #e2eaf2;
    border-radius: 5px;
    height: auto;
    box-shadow: 2px 8px 16px 0 rgba(194, 198, 208, 0.06);
    background-color: var(--light-color);
    transition: opacity 0.3s ease, scale 0.3s ease;
  }
}

.swiper-button-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 22px;
  gap: 24px;
}

.swiper-button-next,
.swiper-button-prev {
  position: static;
  width: clamp(44px, 3.43vw, 66px);
  height: clamp(44px, 3.43vw, 66px);
  aspect-ratio: 1;
}

.swiper-button-next {
  &::after {
    content: "";
    width: 100%;
    background-image: url("../img/svg/swiper-arrow.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotate(180deg);
    aspect-ratio: 1;
  }
}

.swiper-button-prev {
  &::after {
    content: "";
    width: 100%;
    background-image: url("../img/svg/swiper-arrow.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 1;
  }
}

.swiper-slide-next,
.swiper-slide-prev {
  opacity: 0.5;
  scale: 0.74;
}
