@use "../mixins" as *;

.title {
  margin-bottom: 24px;
  font-weight: 500;
  line-height: 125%;
  letter-spacing: -0.02em;
  color: var(--dark-color);

  @include fluid-text(48, 20);

  @include small-tablet {
    margin-bottom: 20px;
  }
}

.title--theme-white {
  color: var(--light-color);
}

.title--theme-dark {
  color: var(--dark-color);
}

.title-alert {
  margin-bottom: 24px;
  border-radius: 5px;
  padding: 10px 18px;
  font-weight: 400;
  font-size: 11px;
  line-height: 150%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--accent-color);
  background: #f2f6fa;

  @include small-tablet {
    margin-bottom: 15px;
  }
}
